<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required Meta Tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title> Bulkit :: {{title}}</title>
        <link rel="icon" type="image/png" href="assets/images/favicon.png" />

        <!--Core CSS -->
        <link rel="stylesheet" href="{{root}}assets/css/bulma.css">
        <link rel="stylesheet" href="{{root}}assets/css/app.css">
        <link rel="stylesheet" href="{{root}}assets/css/core_demo.css">
        <link rel="stylesheet" href="{{root}}assets/css/icons.min.css">

    </head>
    <body>
        {{> pageloader}}
        {{> body}}
        {{> sidebar}}
        {{> backtotop}}
        {{> scripts}}
    </body>  
</html>
