<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Responsive Admin Dashboard Template">
        <meta name="keywords" content="admin,dashboard">
        <meta name="author" content="stacks">
        <!-- The above 6 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        
        <!-- Title -->
        <title>Lime - Responsive Admin Dashboard Template</title>

        <!-- Styles -->
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="../../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="../../assets/plugins/font-awesome/css/all.min.css" rel="stylesheet">
      
        <!-- Theme Styles -->
        <link href="../../assets/css/lime.min.css" rel="stylesheet">
        <link href="../../assets/css/custom.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        
        <div class="lime-sidebar">
            <div class="lime-sidebar-inner slimscroll">
                <ul class="accordion-menu">
                    <li class="sidebar-title">
                        Apps
                    </li>
                    <li>
                        <a href="index.html"><i class="material-icons">dashboard</i>Dashboard</a>
                    </li>
                    <li>
                        <a href="profile.html"><i class="material-icons">person_outline</i>Profile</a>
                    </li>
                    <li>
                        <a href="mailbox.html"><i class="material-icons">inbox</i>Mailbox</a>
                    </li>
                    <li>
                        <a href="todo.html"><i class="material-icons">done_all</i>Todo</a>
                    </li>
                    <li>
                        <a href="file-manager.html" class="active"><i class="material-icons">cloud_queue</i>File Manager</a>
                    </li>
                    <li class="sidebar-title">
                        UI Elements
                    </li>
                    <li>
                        <a href="#"><i class="material-icons">text_format</i>Styles<i class="material-icons has-sub-menu">keyboard_arrow_left</i></a>
                        <ul class="sub-menu">
                            <li>
                                <a href="styles-typography.html">Typography</a>
                            </li>
                            <li>
                                <a href="styles-code.html">Code</a>
                            </li>
                            <li>
                                <a href="styles-tables.html">Tables</a>
                            </li>
                            <li>
                                <a href="styles-icons.html">Icons</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href=""><i class="material-icons">apps</i>Components<i class="material-icons has-sub-menu">keyboard_arrow_left</i></a>
                        <ul class="sub-menu">
                            <li>
                                <a href="ui-alerts.html">Alerts</a>
                            </li>
                            <li>
                                <a href="ui-badge.html">Badge</a>
                            </li>
                            <li>
                                <a href="ui-breadcrumb.html">Breadcrumb</a>
                            </li>
                            <li>
                                <a href="ui-buttons.html">Buttons</a>
                            </li>
                            <li>
                                <a href="ui-button-group.html">Button Group</a>
                            </li>
                            <li>
                                <a href="ui-card.html">Card</a>
                            </li>
                            <li>
                                <a href="ui-collapse.html">Collapse</a>
                            </li>
                            <li>
                                <a href="ui-dropdowns.html">Dropdowns</a>
                            </li>
                            <li>
                                <a href="ui-list-group.html">List Group</a>
                            </li>
                            <li>
                                <a href="ui-media-object.html">Media Object</a>
                            </li>
                            <li>
                                <a href="ui-modal.html">Modal</a>
                            </li>
                            <li>
                                <a href="ui-navs.html">Navs</a>
                            </li>
                            <li>
                                <a href="ui-pagination.html">Pagination</a>
                            </li>
                            <li>
                                <a href="ui-popovers.html">Popovers</a>
                            </li>
                            <li>
                                <a href="ui-progress.html">Progress</a>
                            </li>
                            <li>
                                <a href="ui-spinners.html">Spinners</a>
                            </li>
                            <li>
                                <a href="ui-toast.html">Toast</a>
                            </li>
                            <li>
                                <a href="ui-tooltips.html">Tooltips</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href=""><i class="material-icons">code</i>Plugins<i class="material-icons has-sub-menu">keyboard_arrow_left</i></a>
                        <ul class="sub-menu">
                            <li>
                                <a href="plugins-crop.html">Image Crop</a>
                            </li>
                            <li>
                                <a href="plugins-zoom.html">Image Zoom</a>
                            </li>
                            <li>
                                <a href="plugins-select2.html">Select2</a>
                            </li>
                            <li>
                                <a href="plugins-plupload.html">Plupload</a>
                            </li>
                            <li>
                                <a href="plugins-toastr.html">Toastr</a>
                            </li>
                            <li>
                                <a href="plugins-sliders.html">Range Sliders</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="charts.html"><i class="material-icons">bar_chart</i>Charts</a>
                    </li>
                    <li>
                        <a href="forms.html"><i class="material-icons">input</i>Forms</a>
                    </li>
                    <li class="sidebar-title">
                        Other
                    </li>
                    <li>
                        <a href=""><i class="material-icons">star_border</i>Pages<i class="material-icons has-sub-menu">keyboard_arrow_left</i></a>
                        <ul class="sub-menu">
                            <li>
                                <a href="404.html">404</a>
                            </li>
                            <li>
                                <a href="500.html">500</a>
                            </li>
                            <li>
                                <a href="sign-in.html">Sign In</a>
                            </li>
                            <li>
                                <a href="sign-up.html">Sign Up</a>
                            </li>
                            <li>
                                <a href="lock-screen.html">Lock Screen</a>
                            </li>
                            <li>
                                <a href="coming-soon.html">Coming Soon</a>
                            </li>
                            <li>
                                <a href="invoice.html">Invoice</a>
                            </li>
                            <li>
                                <a href="pricing-tables.html">Pricing Tables</a>
                            </li>
                            <li>
                                <a href="help-center.html">Help Center</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="material-icons">bookmark_border</i>Documentation</a>
                    </li>
                    <li>
                        <a href="#"><i class="material-icons">access_time</i>Change Log</a>
                    </li>
                </ul>
            </div>
        </div>
        
        
        <div class="theme-settings-sidebar">
            <div class="theme-settings-inner">
                <h3 class="theme-sidebar-title">Themes</h3>
                <p class="themes-info">Select a demo</p>
                
                <a class="theme-item active" href="#">
                    <img src="../../assets/images/themes/1.png" alt="">
                    <h4 class="theme-title">Classic</h4>
                </a>
                <a class="theme-item" href="#">
                    <div class="coming-theme">Coming Soon</div>
                    <img src="../../assets/images/themes/2.png" alt="">
                    <h4 class="theme-title">Dark Theme</h4>
                </a>
            </div>
        </div>
        
        <div class="lime-header">
            <nav class="navbar navbar-expand-lg">
                <section class="material-design-hamburger navigation-toggle">
                    <a href="javascript:void(0)" class="button-collapse material-design-hamburger__icon">
                        <span class="material-design-hamburger__layer"></span>
                    </a>
                </section>
                <a class="navbar-brand" href="#">Lime</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="material-icons">keyboard_arrow_down</i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <form class="form-inline my-2 my-lg-0 search">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search for projects, apps, pages..." aria-label="Search">
                    </form>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle theme-settings-link" href="#">
                                <i class="material-icons">layers</i>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a class="dropdown-item" href="#">Account</a></li>
                                <li><a class="dropdown-item" href="#">Settings</a></li>
                                <li class="divider"></li>
                                <li><a class="dropdown-item" href="#">Log Out</a></li>

                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="lime-container">
            <div class="lime-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="page-title">
                                <nav aria-label="breadcrumb">
                                  <ol class="breadcrumb breadcrumb-separator-1">
                                    <li class="breadcrumb-item"><a href="#">Apps</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">File Manager</li>
                                  </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="card card-transparent">
                                <div class="card-body">
                                    <a href="#" class="btn btn-primary btn-block">Upload File</a>
                                    <div class="file-manager-menu">
                                        <ul class="list-unstyled">
                                            <li class="fmm-title">My Drive</li>
                                            <li>
                                                <a href="#"><i class="material-icons">folder_open</i>All Files</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="material-icons">access_time</i>Recents</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="material-icons">laptop</i>My Devices</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="material-icons">star_border</i>Important</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="material-icons">delete_outline</i>Deleted</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="file-manager-menu label-menu">
                                        <ul class="list-unstyled">
                                            <li class="fmm-title">Labels</li>
                                            <li>
                                                <a href="#"><i class="bg-danger"></i>Work</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="bg-success"></i>Personal</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="bg-warning"></i>Family</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="bg-primary"></i>Friends</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="bg-dark"></i>Other</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="storage-info">
                                        <span class="storage-info-title">Storage</span>
                                        <span class="storage-info-text">125.4GB used of 500GB</span>
                                        <div class="progress m-b-sm">
                                            <div class="progress-bar bg-info" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="card card-transparent file-list recent-files">
                                <div class="card-body">
                                    <h5 class="card-title">RECENT FILES</h5>
                                    <div class="row">
                                        <div class="col-lg-6 col-xl-3">
                                            <div class="card file photo">
                                                <div class="file-options dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" href="#">View Details</a>
                                                        <a class="dropdown-item" href="#">Mark as Important</a>
                                                        <a class="dropdown-item" href="#">Move To</a>
                                                        <a class="dropdown-item" href="#">Copy To</a>
                                                        <a class="dropdown-item" href="#">Rename</a>
                                                        <a class="dropdown-item" href="#">Download</a>
                                                        <div class="divider"></div>
                                                        <a class="dropdown-item" href="#">Delete</a>
                                                    </div>
                                                </div>
                                                <div class="card-header file-icon">
                                                    <i class="material-icons">photo</i>
                                                </div>
                                                <div class="card-body file-info">
                                                    <p>IMG_08719.jpg</p>
                                                    <span class="file-size">657.9kb</span><br>
                                                    <span class="file-date">Last Accessed: 17min ago</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-xl-3">
                                            <div class="card file pdf">
                                                <div class="file-options dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" href="#">View Details</a>
                                                        <a class="dropdown-item" href="#">Mark as Important</a>
                                                        <a class="dropdown-item" href="#">Move To</a>
                                                        <a class="dropdown-item" href="#">Copy To</a>
                                                        <a class="dropdown-item" href="#">Rename</a>
                                                        <a class="dropdown-item" href="#">Download</a>
                                                        <div class="divider"></div>
                                                        <a class="dropdown-item" href="#">Delete</a>
                                                    </div>
                                                </div>
                                                <div class="card-header file-icon">
                                                    <i class="material-icons">description</i>
                                                </div>
                                                <div class="card-body file-info">
                                                    <p>Lease_05.pdf</p>
                                                    <span class="file-size">17.5kb</span><br>
                                                    <span class="file-date">Last Accessed: 2 hours ago</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-xl-3">
                                            <div class="card file code">
                                                <div class="file-options dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" href="#">View Details</a>
                                                        <a class="dropdown-item" href="#">Mark as Important</a>
                                                        <a class="dropdown-item" href="#">Move To</a>
                                                        <a class="dropdown-item" href="#">Copy To</a>
                                                        <a class="dropdown-item" href="#">Rename</a>
                                                        <a class="dropdown-item" href="#">Download</a>
                                                        <div class="divider"></div>
                                                        <a class="dropdown-item" href="#">Delete</a>
                                                    </div>
                                                </div>
                                                <div class="card-header file-icon">
                                                    <i class="material-icons">code</i>
                                                </div>
                                                <div class="card-body file-info">
                                                    <p>user_info.java</p>
                                                    <span class="file-size">12.7kb</span><br>
                                                    <span class="file-date">Last Accessed: 6 hours ago</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-xl-3">
                                            <div class="card file audio">
                                                <div class="file-options dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" href="#">View Details</a>
                                                        <a class="dropdown-item" href="#">Mark as Important</a>
                                                        <a class="dropdown-item" href="#">Move To</a>
                                                        <a class="dropdown-item" href="#">Copy To</a>
                                                        <a class="dropdown-item" href="#">Rename</a>
                                                        <a class="dropdown-item" href="#">Download</a>
                                                        <div class="divider"></div>
                                                        <a class="dropdown-item" href="#">Delete</a>
                                                    </div>
                                                </div>
                                                <div class="card-header file-icon">
                                                    <i class="material-icons">volume_up</i>
                                                </div>
                                                <div class="card-body file-info">
                                                    <p>music_1.mp3</p>
                                                    <span class="file-size">37.4mb</span><br>
                                                    <span class="file-date">Last Accessed: 7 hours ago</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-transparent file-list">
                                <div class="card-body">
                                    <h5 class="card-title">FOLDERS</h5>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="card folder">
                                                <div class="file-options dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" href="#">View Details</a>
                                                        <a class="dropdown-item" href="#">Mark as Important</a>
                                                        <a class="dropdown-item" href="#">Move To</a>
                                                        <a class="dropdown-item" href="#">Copy To</a>
                                                        <a class="dropdown-item" href="#">Rename</a>
                                                        <a class="dropdown-item" href="#">Download</a>
                                                        <div class="divider"></div>
                                                        <a class="dropdown-item" href="#">Delete</a>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <div class="folder-icon">
                                                        <i class="material-icons">folder_open</i>
                                                    </div>
                                                    <div class="folder-info">
                                                        <a href="#">Photos</a>
                                                        <span>87 files, 417mb</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="card folder">
                                                <div class="file-options dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" href="#">View Details</a>
                                                        <a class="dropdown-item" href="#">Mark as Important</a>
                                                        <a class="dropdown-item" href="#">Move To</a>
                                                        <a class="dropdown-item" href="#">Copy To</a>
                                                        <a class="dropdown-item" href="#">Rename</a>
                                                        <a class="dropdown-item" href="#">Download</a>
                                                        <div class="divider"></div>
                                                        <a class="dropdown-item" href="#">Delete</a>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <div class="folder-icon">
                                                        <i class="material-icons">folder_open</i>
                                                    </div>
                                                    <div class="folder-info">
                                                        <a href="#">Music</a>
                                                        <span>9 files, 56mb</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="card bg-info text-white">
                                        <div class="card-body">
                                            <div class="upgrade-info row">
                                                <div class="upgrade-text col-md-6">
                                                    <h5 class="card-title">Upgrade account now and get your first three months for free!</h5>
                                                    <ul>
                                                        <li>Unlimited Storage</li>
                                                        <li>Sync easily between your devices</li>
                                                        <li>Advanced Security</li>
                                                        <li>Much more..</li>
                                                    </ul>
                                                    <a href="#" class="btn btn-warning m-t-xs">Upgrade Now</a>
                                                </div>
                                                <div class="upgrade-image col-md-6"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>      
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="">
                                                <div class="">
                                                    <h5 class="card-title">Go Business</h5>
                                                    <p>Need more? Check out our business plan and see why professionals trust us!</p>
                                                    <p>More than 3000 happy customers and counting!</p>
                                                    <a href="#" class="btn btn-warning m-t-xs">Learn More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>                      
                            </div>
                            <div class="card card-transparent file-list">
                                <div class="card-body">
                                    <h5 class="card-title">FILES</h5>
                                    <div class="row">
                                        <div class="col-lg-6 col-xl-3">
                                            <div class="card file pdf">
                                                <div class="file-options dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" href="#">View Details</a>
                                                        <a class="dropdown-item" href="#">Mark as Important</a>
                                                        <a class="dropdown-item" href="#">Move To</a>
                                                        <a class="dropdown-item" href="#">Copy To</a>
                                                        <a class="dropdown-item" href="#">Rename</a>
                                                        <a class="dropdown-item" href="#">Download</a>
                                                        <div class="divider"></div>
                                                        <a class="dropdown-item" href="#">Delete</a>
                                                    </div>
                                                </div>
                                                <div class="card-header file-icon">
                                                    <i class="material-icons">description</i>
                                                </div>
                                                <div class="card-body file-info">
                                                    <p>users.txt</p>
                                                    <span class="file-size">14.2kb</span><br>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-xl-3">
                                            <div class="card file audio">
                                                <div class="file-options dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" href="#">View Details</a>
                                                        <a class="dropdown-item" href="#">Mark as Important</a>
                                                        <a class="dropdown-item" href="#">Move To</a>
                                                        <a class="dropdown-item" href="#">Copy To</a>
                                                        <a class="dropdown-item" href="#">Rename</a>
                                                        <a class="dropdown-item" href="#">Download</a>
                                                        <div class="divider"></div>
                                                        <a class="dropdown-item" href="#">Delete</a>
                                                    </div>
                                                </div>
                                                <div class="card-header file-icon">
                                                    <i class="material-icons">volume_up</i>
                                                </div>
                                                <div class="card-body file-info">
                                                    <p>group_project.mp3</p>
                                                    <span class="file-size">1.2mb</span><br>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-xl-3">
                                            <div class="card file code">
                                                <div class="file-options dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" href="#">View Details</a>
                                                        <a class="dropdown-item" href="#">Mark as Important</a>
                                                        <a class="dropdown-item" href="#">Move To</a>
                                                        <a class="dropdown-item" href="#">Copy To</a>
                                                        <a class="dropdown-item" href="#">Rename</a>
                                                        <a class="dropdown-item" href="#">Download</a>
                                                        <div class="divider"></div>
                                                        <a class="dropdown-item" href="#">Delete</a>
                                                    </div>
                                                </div>
                                                <div class="card-header file-icon">
                                                    <i class="material-icons">code</i>
                                                </div>
                                                <div class="card-body file-info">
                                                    <p>upload.php</p>
                                                    <span class="file-size">12.7kb</span><br>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-xl-3">
                                            <div class="card file code">
                                                <div class="file-options dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" href="#">View Details</a>
                                                        <a class="dropdown-item" href="#">Mark as Important</a>
                                                        <a class="dropdown-item" href="#">Move To</a>
                                                        <a class="dropdown-item" href="#">Copy To</a>
                                                        <a class="dropdown-item" href="#">Rename</a>
                                                        <a class="dropdown-item" href="#">Download</a>
                                                        <div class="divider"></div>
                                                        <a class="dropdown-item" href="#">Delete</a>
                                                    </div>
                                                </div>
                                                <div class="card-header file-icon">
                                                    <i class="material-icons">code</i>
                                                </div>
                                                <div class="card-body file-info">
                                                    <p>check_status.php</p>
                                                    <span class="file-size">23.8kb</span><br>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-xl-3">
                                            <div class="card file photo">
                                                <div class="file-options dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" href="#">View Details</a>
                                                        <a class="dropdown-item" href="#">Mark as Important</a>
                                                        <a class="dropdown-item" href="#">Move To</a>
                                                        <a class="dropdown-item" href="#">Copy To</a>
                                                        <a class="dropdown-item" href="#">Rename</a>
                                                        <a class="dropdown-item" href="#">Download</a>
                                                        <div class="divider"></div>
                                                        <a class="dropdown-item" href="#">Delete</a>
                                                    </div>
                                                </div>
                                                <div class="card-header file-icon">
                                                    <i class="material-icons">photo</i>
                                                </div>
                                                <div class="card-body file-info">
                                                    <p>friends_09.jpg</p>
                                                    <span class="file-size">389.2kb</span><br>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-xl-3">
                                            <div class="card file photo">
                                                <div class="file-options dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" href="#">View Details</a>
                                                        <a class="dropdown-item" href="#">Mark as Important</a>
                                                        <a class="dropdown-item" href="#">Move To</a>
                                                        <a class="dropdown-item" href="#">Copy To</a>
                                                        <a class="dropdown-item" href="#">Rename</a>
                                                        <a class="dropdown-item" href="#">Download</a>
                                                        <div class="divider"></div>
                                                        <a class="dropdown-item" href="#">Delete</a>
                                                    </div>
                                                </div>
                                                <div class="card-header file-icon">
                                                    <i class="material-icons">photo</i>
                                                </div>
                                                <div class="card-body file-info">
                                                    <p>friends_08.jpg</p>
                                                    <span class="file-size">436.6kb</span><br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lime-footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <span class="footer-text">2019 © stacks</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        <!-- Javascripts -->
        <script src="../../assets/plugins/jquery/jquery-3.1.0.min.js"></script>
        <script src="../../assets/plugins/bootstrap/popper.min.js"></script>
        <script src="../../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="../../assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
        <script src="../../assets/js/lime.min.js"></script>
    </body>
</html>