@import "./page-error";
@import "./page-auth";
@import "./page-pricing";
@import "./page-timeline";

//specific HTML pages scss
@import "./homepage";
@import "./ecom-product-detail";
@import "./ecom-product-grid";
@import "./ecom-product-list";






