$assets-url :"/assets";
@import 'core.scss';

:host /deep/ .widget-13 {
    .widget-13-map{
        height: 465px;
    }
    .map-tooltip{
        border-radius: 5px;
        position: relative;
        padding: 3px 8px;
        &:after{
            content: "";
            position: absolute;
            left: 47%;
            bottom: -11px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 7px 6.5px 0 6.5px;
            border-color: white transparent transparent transparent;
        }
        .text-muted{
            opacity: .5;
        }
        .text-master{
            margin-bottom: -5px;
        }
    }
}
