//
// Forms
// 


input.form-control::-webkit-input-placeholder {
  color: darken($gray-700, 35%);
}

input.form-control:-moz-placeholder {
  color: darken($gray-700, 35%);
}

input.form-control::-moz-placeholder {
  color: darken($gray-700, 35%);
}

input.form-control:-ms-input-placeholder {
  color: darken($gray-700, 35%);
}

.form-control::placeholder {
  color: darken($gray-700, 35%);
}


label {
  font-weight: 400;
  color: $label;
  font-size: 13px;
}
.custom-control-label{
  padding-top: 2px;
}
.form-control {
  font-size: $font-size-base;
  border: 1px solid $input-border-color;
  height: calc(2.3rem + 2px);
  color: $form-control;
  background-color: $card;
  &:focus {
    color: $form-control;
    border-color: rgba($primary, 0.5);
    box-shadow: none;
    background-color: $card;
  }
}

.custom-control-label::before {
  background-color: $gray-100;
  border: 1px solid $gray-200;
}

.input-group-text{
  font-size: $font-size-base;
  background-color: $gray-100;
  border: 1px solid $input-border-color;
  color: $gray-700;
}
.custom-file-input,
.custom-file-label{
  height: calc(2.3rem + 1px);
  line-height: 26px;
  background-color: $card;
  border: 1px solid $input-border-color;
}
.custom-file-label::after{
  height: calc(1.5em + 16px);
  line-height: 24px;
  background-color: $gray-200;
  color: $gray-700;
}
.form-group{
  margin-bottom: 20px;
}
.custom-select:focus{
  border-color: rgba($primary, 0.5);
  box-shadow: none;
}
.custom-control-input:checked~.custom-control-indicator {
  background-color: $primary;
}

.custom-control-input:focus~.custom-control-indicator {
  -webkit-box-shadow: 0 0 0 1px $white, 0 0 0 3px $primary;
  box-shadow: 0 0 0 1px $white, 0 0 0 3px $primary;
}

.has-success {
  .form-control {
    border-color: $success;
    box-shadow: none;
  }
}

.has-warning {
  .form-control {
    border-color: $warning;
    box-shadow: none;
  }
}

.has-error {
  .form-control {
    border-color: $danger;
    box-shadow: none;
  }
}

.input-group-addon {
  border-radius: 2px;
  border: 1px solid $light;
}
.col-form-label{
  text-align: right;
}

.form-control.is-valid:focus, 
.custom-select.is-valid:focus, 
.was-validated .custom-select:valid:focus {
  border-color: $success;
  box-shadow: none;
}
.custom-select.is-invalid, 
.was-validated .custom-select:invalid {
  background-color: $card;
}
.custom-select.is-invalid:focus, 
.was-validated .custom-select:invalid:focus {
  border-color: $danger;
  box-shadow:none;
  background-color: $gray-100;
}
.custom-select{
  font-size: 13px;
  height: 38px;
}
.custom-file-input.is-invalid:focus~.custom-file-label, 
.was-validated .custom-file-input:invalid:focus~.custom-file-label,
.form-control.is-invalid:focus, 
.was-validated .form-control:invalid:focus {
  border-color: $danger;
  box-shadow: none;
}
.custom-file-input:focus~.custom-file-label{
  border-color: rgba($primary, 0.5);
  box-shadow: none;
}


dt {
  font-weight: 600;
}


.custom-select, 
.custom-select:focus {
  background: url(../images/arrow.svg) no-repeat right 0.75rem center;
  background-color: $card;
  border-color: $border;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: $gray-700;
}


// Form editor
.mce-panel{
  border: 1px solid $gray-100 !important;
  background-color: $gray-100 !important;
}

.custom-control-label::before {
  content: "";
  background-color: lighten($card, 8%);
  border: 1px solid lighten($card, 10%);
}


input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  box-shadow: 1px 1px 1px $card, 0px 0px 1px $card;
  background: lighten($card, 8%);
  border-radius: 1.3px;
  border: 0.2px solid $card;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: lighten($gray-100, 3%);
}

.custom-range::-webkit-slider-thumb{
  background-color: $primary !important;
}
.custom-range::-moz-range-thumb{
  background-color: $primary !important;
}
.custom-range::-ms-thumb{
  background-color: $primary !important;
}



// File Upload


.dropzone {
  min-height: 230px;
  border: 2px dashed $gray-200;
  background: $gray-100;
  border-radius: 6px;

  .dz-message {
    font-size: 26px;
  }
}

.dropify-wrapper .dropify-preview{
  background: $gray-100;
}
.dropify-wrapper{
  border: 2px dashed $gray-200;
  background: $gray-100;
  &:hover {
    background-size: 30px 30px;
    background-image: linear-gradient(-45deg,$gray-100  25%,transparent 25%,transparent 50%,$gray-100  50%,$gray-200 75%,transparent 75%,transparent);
    animation: stripes 2s linear infinite;
  }
}


// Crop

.img-container, 
.img-preview {
  background-color: $card;
}