#customize-theme-controls .accordion-section-content{
    background-color: #fff;
}

p.description,
span.description{
    font-size: 11px;
    font-style: italic;
}



.customize-control {
    margin-bottom: 12px;
}
.customize-control-select {
    padding-bottom: 10px;
}
.customize-control input[type=text],
.customize-control textarea{
    box-shadow: none;
}
#customize-control-subfooter_menu textarea{
    display:none !important;
}

/* TT Checkbox switcher */
/* ================================ */
 .checkbox_switcher {
    border: 1px solid #e0e0e0;
    border-radius: 20px;
    display: inline-block;
    width: 50px;
    position: relative;
    height: 25px;
    cursor: pointer;
    margin-bottom: -5px;
    margin-right: 7px;
    transition: all .2s ease-in-out;
}
.checkbox_switcher .handle {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background: #fff;
    position: absolute;
    box-shadow: 0px 2px 4px rgba(0,0,0,.2);
    transition: all .2s ease-in-out;
}
.checkbox_switcher.on {
    background: #4cd864;
    border-color: #4cd864;
}
.checkbox_switcher:active .handle {
    width: 40px;
    border-radius: 24px;
}
.checkbox_switcher.on .handle {
    right: 0;
}


.clearfix{
    clear: both;
}


/* Customize Switch Control
====================================*/
.tt-customize-control-switch{
    border-bottom: 1px dotted #eee;
    display: block;
    margin-bottom: 10px;
}
.tt-customizer-switcher{
    display: table;
    width: 100%;
    min-height: 40px;
}
.tt-customizer-switcher .customize-control-title{
    display: table-cell;
    vertical-align: middle;
    line-height: 1.3em;
    width: 60%;
    position: relative;
}
.tt-customizer-switcher .customize-control-title::after{
    content: '';
    height: 20px;
    width: 0px;
    border-left: 1px dotted #eee;
    position: absolute;
    top: 50%;
    right: -10px;
    margin-top: -8px;
}
.tt-customizer-switcher .checkbox-switcher-container{
    display: table-cell;
    vertical-align: middle;
    padding-left: 20px;
}




/* Customize Media Browse Control
====================================*/
.customizer-media-label{
    cursor: default;
    display: block;
}
.customizer-media-manager{
    margin-bottom: 14px;
    border-bottom: 1px dotted #eee;
    padding-bottom: 10px;
}
.customizer-media-manager span.media-manager-thumb{
    display: inline-block;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 120px;
    height: 50px;
    border: 2px solid #eee;
    border-right-width: 25px;
    position: relative;
    cursor: pointer;
}
.customizer-media-manager span.media-manager-thumb::before{
    content: '\f132';
    font: 400 16px/1 dashicons;
    position: absolute;
    right: -21px;
    top: 20px;
    color: #555;
}
.customizer-media-manager a.remove{
    font-size: 11px;
    color: #ff0000;
    line-height: 0;
}



.customizer-bg-options{
    display: block;
    margin-top: 5px;
}
.customizer-bg-options select{
    width: 30%;
    display: inline-block;
    min-width: 20%;
}


.tt-customizer-sub-title{
    display: block;
    margin-top: 20px;
    margin-bottom: 15px;
}
.tt-customizer-sub-title .tt-customizer-control-content{
    margin-left: -20px;
    margin-right: -20px;
    background-color: #eee;
    padding-top: 7px;
    padding-bottom: 7px;
}
.tt-customizer-sub-title span.customize-control-title{
    display: inline;
    margin-left: 20px;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
}




/* Font set */
.customizer-font-set-label{
    display: block;
    border-bottom: 1px dotted #eee;
    margin-bottom: 10px;
    padding-bottom: 15px;
}
.customizer-font-set-label select{
    width: 30% !important;
    display: inline-block;
    min-width: 20%;
}


/* Font */
.customizer-font-label{
    display: block;
    margin-bottom: 10px;
}
.customizer-font-label .customize-control-title{
    margin-bottom: 0px;
}
.customizer-font-label select{
    width: 100%;
}



/* Backup */
.customizer-backup-label{
    display: block;
    margin-bottom: 20px;
}
.customizer-backup-label textarea,
.customizer-import-label textarea{
    width: 100%;
    height: 120px;
}




/* Loading */
@-moz-keyframes spinner { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spinner { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spinner { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
.customizer-option-loading{
    display: inline-block;
    position: relative;
    margin-top: 4px;
}
.customizer-option-loading::before{
    position: absolute;
    top:0px;
    left: 0px;
    -webkit-animation:spinner 1.2s linear infinite;
    -moz-animation:spinner 1.2s linear infinite;
    animation:spinner 1.2s linear infinite;
}



#customizer_reset_options{
    position: absolute;
    bottom: 8px;
    right: 15px;
    font-size: 12px;
}
#customizer_reset_options i{
    font-size: 18px;
    position: relative;
}
#customizer_reset_options.loading i::before{
    position: absolute;
    top:0px;
    left: 0px;
    -webkit-animation:spinner 1.2s linear infinite;
    -moz-animation:spinner 1.2s linear infinite;
    animation:spinner 1.2s linear infinite;
}





/* Pixels */
.customizer-number-pixel-label{
    display: block;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #eee;
}
.customizer-number-pixel-label .customizer-control-wrapper{
    display: table;
    width: 100%;
}
.customizer-number-pixel-label .customizer-control-wrapper > span{
    display: table-cell;
    vertical-align: middle;
    position: relative;
}
.customizer-number-pixel-label .customize-control-title{
    width: 60%;
}
.customizer-number-pixel-label .customize-control-title::after{
    content: '';
    position: absolute;
    width: 0px;
    border-left: 1px dotted #eee;
    right: -10px;
    top: 1px;
    height: 25px;
}
.customizer-number-pixel-label .customizer-number-pixels{
    padding-left: 25px;
}