/*! core_demo.scss | Bulkit | CSS Ninja */

/* ==========================================================================
Components core
========================================================================== */

/***
TABLE OF CONTENTS
=============================================================================
0. CSS Imports
=============================================================================
***/

/* ==========================================================================
0. CSS Imports
========================================================================== */

@import 'partials/layout-colors';
@import 'partials/themes-main';
@import 'partials/layout-utils';
@import 'partials/layout-navbar';
@import 'partials/layout-sections';
@import 'partials/layout-hero';
@import 'partials/layout-footer';
@import 'partials/layout-animations';
@import 'partials/layout-navigation';
@import 'partials/layout-pageloader';
@import 'partials/components-accordion';
@import 'partials/components-buttons';
@import 'partials/components-cards';
@import 'partials/components-boxes';
@import 'partials/components-tabs';
@import 'partials/components-testimonials';
@import 'partials/components-dialogs';
@import 'partials/components-forms';
@import 'partials/components-tables';
@import 'partials/components-lists';
@import 'partials/components-labels';
@import 'partials/components-messages';
@import 'partials/components-pricing';
@import 'partials/components-dropdowns';
@import 'partials/extensions-checkboxes';
@import 'partials/extensions-badge';
@import 'partials/extensions-range';
@import 'partials/extensions-ribbon';
@import 'partials/extensions-slider';
@import 'partials/extensions-switch';
@import 'partials/extensions-timeline';
@import 'partials/extensions-uploader';
@import 'partials/pages-details';
@import 'partials/pages-auth';
@import 'partials/pages-startup';
@import 'partials/pages-demo';
@import 'partials/pages-landing';
@import 'partials/pages-landing-v1';
@import 'partials/pages-landing-v2';
@import 'partials/pages-landing-v3';
@import 'partials/layout-helpers';
@import 'partials/layout-responsive';


