
@{
    ViewBag.Title = "Register 2 | Veltrix";
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
}

<div class="accountbg" style="background: url('/assets/images/bg.jpg');background-size: cover;background-position: center;"></div>

<div class="wrapper-page account-page-full">

    <div class="card shadow-none">
        <div class="card-block">

            <div class="account-box">

                <div class="card-box shadow-none p-4">
                    <div class="p-2">
                        <div class="text-center mt-4">
                            <a href="@Url.Action("Index","Dashboard")"><img src="~/assets/images/logo-dark.png" height="22" alt="logo"></a>
                        </div>

                        <h4 class="font-size-18 mt-5 text-center">Free Register</h4>
                        <p class="text-muted text-center">Get your free Veltrix account now.</p>

                        <form class="mt-4" action="#">

                            <div class="form-group">
                                <label for="useremail">Email</label>
                                <input type="email" class="form-control" id="useremail" placeholder="Enter email">
                            </div>

                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" class="form-control" id="username" placeholder="Enter username">
                            </div>


                            <div class="form-group">
                                <label for="userpassword">Password</label>
                                <input type="password" class="form-control" id="userpassword" placeholder="Enter password">
                            </div>

                            <div class="form-group row">
                                <div class="col-12 text-right">
                                    <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Register</button>
                                </div>
                            </div>

                            <div class="form-group mt-2 mb-0 row">
                                <div class="col-12 mt-3">
                                    <p class="mb-0">By registering you agree to the Veltrix <a href="#" class="text-primary">Terms of Use</a></p>
                                </div>
                            </div>

                        </form>

                        <div class="mt-5 pt-4 text-center">
                            <p>Already have an account ? <a href="@Url.Action("pages-login-2","Pages")" class="font-weight-medium text-primary"> Login </a> </p>
                            <p>©
                            <script>document.write(new Date().getFullYear())</script> Veltrix. Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesbrand</p>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

</div>