
@{
    ViewBag.Title = "Login | Veltrix";
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
}

<div class="home-btn d-none d-sm-block">
    <a href="@Url.Action("Index","Dashboard")" class="text-dark"><i class="fas fa-home h2"></i></a>
</div>

<div class="account-pages my-5 pt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="card overflow-hidden">
                    <div class="bg-primary">
                        <div class="text-primary text-center p-4">
                            <h5 class="text-white font-size-20">Welcome Back !</h5>
                            <p class="text-white-50">Sign in to continue to Veltrix.</p>
                            <a href="@Url.Action("Index","Dashboard")" class="logo logo-admin">
                                <img src="~/assets/images/logo-sm.png" height="24" alt="logo">
                            </a>
                        </div>
                    </div>

                    <div class="card-body p-4">
                        <div class="p-3">
                            <div class="alert alert-info text-center mt-4">
                                <span class="font-weight-bold">Username:</span> admin <span class="font-weight-bold ml-3">Password:</span>123456
                            </div>

                            <form class="custom-validation form-horizontal mt-4">
                                <div class="alert alert-danger mt-4" role="alert" id="validateMessage">
                                </div>

                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input type="text" class="form-control"  value="admin" id="username" placeholder="Enter username"
                                           data-parsley-required-message="Username is required!"
                                           required>
                                </div>

                                <div class="form-group">
                                    <label for="userpassword">Password</label>
                                    <input type="password" class="form-control" value="123456" id="userpassword" placeholder="Enter password"
                                           data-parsley-required-message="Password is required!"
                                           data-parsley-minlength="6"
                                           data-parsley-minlength-message="The password must be at least 6 characters."
                                           data-parsley-trigger="keyup"
                                           required>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customControlInline">
                                            <label class="custom-control-label" for="customControlInline">Remember me</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 text-right">
                                        <button class="btn btn-primary w-md waves-effect waves-light" id="btnLogin" type="submit">Log In</button>
                                    </div>
                                </div>

                                <div class="form-group mt-2 mb-0 row">
                                    <div class="col-12 mt-4">
                                        <a href="@Url.Action("pages-recoverpw","Pages")"><i class="mdi mdi-lock"></i> Forgot your password?</a>
                                    </div>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>

                <div class="mt-5 text-center">
                    <p>Don't have an account ? <a href="@Url.Action("pages-register","Pages")" class="font-weight-medium text-primary"> Signup now </a> </p>
                    <p class="mb-0">
                        ©
                        <script>document.write(new Date().getFullYear())</script> Veltrix. Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesbrand
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script src="~/assets/libs/parsleyjs/parsley.min.js"></script>
    <script src="~/assets/js/pages/pages-login.init.js?@DateTime.Now.Ticks"></script>
}