
@{
    ViewBag.Title = "Pricing | Veltrix";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row align-items-center">
            <div class="col-sm-6">
                <div class="page-title-box">
                    <h4 class="font-size-18">Pricing</h4>
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Veltrix</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Extra Pages</a></li>
                        <li class="breadcrumb-item active">Pricing</li>
                    </ol>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="float-right d-none d-md-block">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle waves-effect waves-light" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="mdi mdi-settings mr-2"></i> Settings
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="card pricing-box">
                    <div class="card-body p-4">
                        <div class="media mt-2">
                            <i class="ion ion-ios-airplane h2 align-self-center"></i>
                            <div class="media-body text-right">
                                <h4 class="mt-0">Starter</h4>
                                <p class="text-muted mb-0">Sed ut neque unde</p>
                            </div>
                        </div>
                        <div class="pricing-features mt-5 pt-2">
                            <p><i class="mdi mdi-check text-primary mr-2"></i> Free Live Support</p>
                            <p><i class="mdi mdi-check text-primary mr-2"></i> Unlimited User</p>
                            <p><i class="mdi mdi-check text-primary mr-2"></i> No Time Tracking</p>
                            <p><i class="mdi mdi-close text-primary mr-2"></i> Free Setup</p>
                        </div>
                        <div class="text-center mt-5">
                            <h1 class="mb-0"><sup><small>$</small></sup>19/<span class="font-size-16">Per month</span></h1>
                        </div>
                        <div class="mt-5">
                            <a href="#" class="btn btn-primary btn-block waves-effect waves-light">Sign up Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end col -->

            <div class="col-xl-3 col-md-6">
                <div class="card pricing-box">
                    <div class="card-body p-4">
                        <div class="media mt-2">
                            <i class="ion ion-ios-trophy h2 align-self-center"></i>
                            <div class="media-body text-right">
                                <h4 class="mt-0">Professional</h4>
                                <p class="text-muted mb-0">Sed ut neque unde</p>
                            </div>
                        </div>
                        <div class="pricing-features mt-5 pt-2">
                            <p><i class="mdi mdi-check text-primary mr-2"></i> Free Live Support</p>
                            <p><i class="mdi mdi-check text-primary mr-2"></i> Unlimited User</p>
                            <p><i class="mdi mdi-check text-primary mr-2"></i> No Time Tracking</p>
                            <p><i class="mdi mdi-close text-primary mr-2"></i> Free Setup</p>
                        </div>
                        <div class="text-center mt-5">
                            <h1 class="mb-0"><sup><small>$</small></sup>29/<span class="font-size-16">Per month</span></h1>
                        </div>
                        <div class="mt-5">
                            <a href="#" class="btn btn-primary btn-block waves-effect waves-light">Sign up Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end col -->

            <div class="col-xl-3 col-md-6">
                <div class="card pricing-box">
                    <div class="card-body p-4">
                        <div class="media mt-2">
                            <i class="ion ion-ios-umbrella h2 align-self-center"></i>
                            <div class="media-body text-right">
                                <h4 class="mt-0">Enterprise</h4>
                                <p class="text-muted mb-0">Sed ut neque unde</p>
                            </div>
                        </div>
                        <div class="pricing-features mt-5 pt-2">
                            <p><i class="mdi mdi-check text-primary mr-2"></i> Free Live Support</p>
                            <p><i class="mdi mdi-check text-primary mr-2"></i> Unlimited User</p>
                            <p><i class="mdi mdi-check text-primary mr-2"></i> No Time Tracking</p>
                            <p><i class="mdi mdi-close text-primary mr-2"></i> Free Setup</p>
                        </div>
                        <div class="text-center mt-5">
                            <h1 class="mb-0"><sup><small>$</small></sup>39/<span class="font-size-16">Per month</span></h1>
                        </div>
                        <div class="mt-5">
                            <a href="#" class="btn btn-primary btn-block waves-effect waves-light">Sign up Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end col -->

            <div class="col-xl-3 col-md-6">
                <div class="card pricing-box">
                    <div class="card-body p-4">
                        <div class="media mt-2">
                            <i class="ion ion-ios-cube h2 align-self-center"></i>
                            <div class="media-body text-right">
                                <h4 class="mt-0">Unlimited</h4>
                                <p class="text-muted mb-0">Sed ut neque unde</p>
                            </div>
                        </div>
                        <div class="pricing-features mt-5 pt-2">
                            <p><i class="mdi mdi-check text-primary mr-2"></i> Free Live Support</p>
                            <p><i class="mdi mdi-check text-primary mr-2"></i> Unlimited User</p>
                            <p><i class="mdi mdi-check text-primary mr-2"></i> No Time Tracking</p>
                            <p><i class="mdi mdi-close text-primary mr-2"></i> Free Setup</p>
                        </div>
                        <div class="text-center mt-5">
                            <h1 class="mb-0"><sup><small>$</small></sup>49/<span class="font-size-16">Per month</span></h1>
                        </div>
                        <div class="mt-5">
                            <a href="#" class="btn btn-primary btn-block waves-effect waves-light">Sign up Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end col -->

        </div>
        <!-- end row -->
    </div>



</div> <!-- container-fluid -->
                </div>
<!-- End Page-content -->
