<!-- START APP -->
<pg-secondary-sidebar extraClass="light">
  <div class=" m-b-30 m-l-30 m-r-30 d-sm-none d-md-block d-lg-block d-xl-block">
      <a href="javascript:void(0);" class="btn btn-primary btn-block btn-compose">Compose</a>
    </div>
    <p class="menu-title">BROWSE</p>
    <ul class="main-menu">
      <li class="active">
        <a href="javascript:void(0);">
          <span class="title"><i class="pg pg-inbox"></i> Inbox</span>
          <span class="badge pull-right">5</span>
        </a>
      </li>
      <li class="">
        <a href="javascript:void(0);">
          <span class="title"><i class="pg pg-folder"></i> All mail</span>
        </a>
        <ul class="sub-menu no-padding">
          <li>
            <a href="javascript:void(0);">
              <span class="title">Important</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0);">
              <span class="title">Labeled</span>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="javascript:void(0);">
          <span class="title"><i class="pg pg-sent"></i> Sent</span>
        </a>
      </li>
      <li>
        <a href="javascript:void(0);">
          <span class="title"><i class="pg pg-spam"></i> Spam</span>
          <span class="badge pull-right">10</span>
        </a>
      </li>
    </ul>
    <p class="menu-title m-t-20 all-caps">Quick view</p>
    <ul class="sub-menu no-padding">
      <li>
        <a href="javascript:void(0)">
          <span class="title">Documents</span>
        </a>
      </li>
      <li>
        <a href="javascript:void(0)">
          <span class="title">Flagged</span>
          <span class="badge pull-right">5</span>
        </a>
      </li>
      <li>
        <a href="javascript:void(0)">
          <span class="title">Images</span>
        </a>
      </li>
    </ul>
</pg-secondary-sidebar>
<!-- END SECONDARY SIDEBAR MENU -->
<div class="inner-content full-height">

</div>