//
// Content
//




@include kt-desktop {
	// Content
	.kt-content {
		padding: kt-get($kt-page-padding, desktop);
		padding-right: 0;
		padding-bottom: 0;

		// Aside disabled or non fixed
		body.kt-aside--enabled.kt-aside--static &,
		body:not(.kt-aside--enabled) & {
			padding-left: 0;
		}

		// Subheader enabled
		.kt-subheader--enabled.kt-subheader--transparent:not(.kt-subheader--fixed) & {
			padding-top: 0;
		}

		// Fixed footer
		.kt-footer--fixed & {
			padding-bottom: kt-get($kt-footer-config, self, fixed, height);
		}

		// Content containers
		.kt-container.kt-container--fluid {
			.kt-aside--enabled & {
				padding-left: kt-get($kt-page-padding, desktop);
			}
		}

		// Aside fixed
		.kt-aside--enabled.kt-aside--fixed & {
			padding-left: kt-get($kt-aside-config, base, default, width);
		}

		// Content fit
		&.kt-content--fit-top {
			padding-top: 0;
		}

		&.kt-content--fit-bottom {
			padding-bottom: 0;
		}
	}
}

@include kt-tablet-and-mobile {
	.kt-content {
		padding: kt-get($kt-page-padding, mobile) 0;

		// Content fit
		&.kt-content--fit-top {
			padding-top: 0;
		}

		&.kt-content--fit-bottom {
			padding-bottom: 0;
		}

		// Subheader enabled
		.kt-subheader--enabled.kt-subheader--transparent & {
			padding-top: 0;
		}
	}
}
