<!-- begin:: Header Topbar -->
<div class="kt-header__topbar kt-grid__item">
	<!--begin: Search -->
	<kt-search-default></kt-search-default>
	<!--end: Search -->
	<!--begin: Notifications -->
	<kt-notification [bgImage]="'./assets/media/misc/bg-1.jpg'" [pulse]="true" [pulseLight]="true" [skin]="'dark'"></kt-notification>
	<!--end: Notifications -->
	<!--begin: Quick actions -->
	<kt-quick-action [bgImage]="'./assets/media/misc/bg-2.jpg'" [skin]="'dark'"></kt-quick-action>
	<!--end: Quick actions -->
	<!--begin: My Cart -->
	<kt-cart [bgImage]="'./assets/media/misc/bg-1.jpg'"></kt-cart>
	<!--end: My Cart -->
	<!--begin: Language bar -->
	<kt-language-selector></kt-language-selector>
	<!--end: Language bar -->
	<!--begin: User bar -->
	<kt-user-profile2></kt-user-profile2>
	<!--end: User bar -->
	<!--begin: Quick panel toggler -->
	<div class="kt-header__topbar-item kt-header__topbar-item--quick-panel" data-placement="bottom" ngbTooltip="Quick panel">
		<div class="kt-header__topbar-wrapper">
			<span class="kt-header__topbar-icon" id="kt_quick_panel_toggler_btn"><i class="flaticon-squares"></i></span>
		</div>
	</div>
	<!--end: Quick panel toggler -->
</div>
<!-- end:: Header Topbar -->
