.account-dropdown {
    .account-dropdown__info {
        font-size: 10px;
    }
    .dropdown-content {
        margin-top: 70px;
        .box {
            box-shadow: 0px 3px 15px #00000012;
        }
    }
}