.chat-box {
    @media (max-width: $xl) {
        max-height: 95vh;
    }
    .chat-text-box {
        max-width: 60%;
        @media (max-width: $xxl) {
            max-width: 90%;
        }
        .chat-text-box__photo {
            margin-bottom: 26px;
        }
        .chat-text-box__content {
            .chat-text-box__content__icon {
                font-size: 10px;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='628.027' height='786.012' viewBox='0 0 628.027 786.012'%3E%3Cdefs%3E%3ClinearGradient id='linear-gradient' x1='0.5' x2='0.5' y2='1' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%238a97ac'/%3E%3Cstop offset='1' stop-color='%235d6c83'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg id='Group_5' data-name='Group 5' transform='translate(-646 -92.988)'%3E%3Cpath id='Union_2' data-name='Union 2' d='M40,786A40,40,0,0,1,0,746V40A40,40,0,0,1,40,0H501V103h29v24h98V746a40,40,0,0,1-40,40Z' transform='translate(646 93)' fill='url(%23linear-gradient)'/%3E%3Cpath id='Intersection_2' data-name='Intersection 2' d='M.409,162.042l.058-109.9c31.605,29.739,125.37,125.377,125.37,125.377l-109.976.049A20.025,20.025,0,0,1,.409,162.042Z' transform='translate(1147 42)' fill='%23bec8d9' stroke='%23bec8d9' stroke-width='1'/%3E%3C/g%3E%3C/svg%3E%0A");
                &:before {
                    content: "";
                    padding-top: 100%;
                    @apply w-full block;
                }
            }
        }
    }
    .chat-input {
        .chat-input__dropdown {
            margin-top: -170px;
        }
        .chat-input__smiley {
            width: 320px;
            margin-top: -364px;
            @media (max-width: $sm) {
                margin-top: -374px;
                margin-left: -215px;
            }
            .chat-input__smiley__box {
                height: 364px;
                .chat-input__smiley__box__tabs {
                    a.active {
                        @apply bg-gray-200 border-b-0 text-gray-600;
                    }
                }
            }
        }
        .input {
            height: 46px;
        }
    }
}

.dark {
    .chat-input {
        .chat-input__smiley {
            .chat-input__smiley__box {
                .chat-input__smiley__box__tabs {
                    a.active {
                        @apply bg-light-1 text-white;
                    }
                }
            }
        }
    }
}