//
// Footer
//

.footer {
  border-top: 1px solid $gray-300;
  bottom: 0;
  padding: 18px 80px 19px;
  position: absolute;
  width: 100%;
  color: $gray-600;
  left: 0;
  right: 0;
  span{
    float: right !important;
  }
}