<pgcard TimeOut="3000" ProgressType="bar" AdditionalClasses="widget-8 card no-border {{_bgColor}} no-margin widget-loader-bar" Maximize="false" Toggle="false"
 Close="false" BodyClass="no-padding">
	<ng-template #CardTitle>
		<span class="font-montserrat fs-11 all-caps">
			Weekly Sales
			<i class="fa fa-chevron-right"></i>
		</span>
	</ng-template>
	<div class="container-xs-height full-height">
		<div class="row-xs-height ">
			<div class="col-xs-height col-top" #chartContainer>
				<div class="row">
					<div class="col-sm-6">
						<div class="p-l-20">
							<h3 class="no-margin p-b-5 text-white">$14,000</h3>

							<p class="small hint-text m-t-5">
								<span class="label  font-montserrat m-r-5">60%</span>Higher
							</p>
						</div>
					</div>
					<div class="col-sm-6">
					</div>
				</div>
				<div class="widget-8-chart line-chart" data-line-color="black" data-points="true" [attr.data-point-color]="_pointColor" data-stroke-width="2">
					<nvd3 [options]="chartOptions" [data]="chartData"></nvd3>
				</div>
			</div>
		</div>
	</div>
</pgcard>