/*

[Custom Stylesheet]

Project     : SociFly - Multipurpose Social Network HTML5 Template
Version     : 1.0
Author      : ThemeLooks
Author URI  : https://themeforest.net/user/themelooks

You can write your custom css styles in this file...

*/
