<!-- START APP -->
<pg-secondary-sidebar extraClass="light">
  <div class=" m-b-30 m-l-30 m-r-30 d-none d-sm-block">
      <a [routerLink]="['../compose']" class="btn btn-primary btn-block btn-primary">Compose</a>
    </div>
    <p class="menu-title">BROWSE</p>
    <ul class="main-menu">
      <li class="active">
        <a [routerLink]="['../list']">
          <span class="title"><i class="pg pg-inbox"></i> Inbox</span>
          <span class="badge pull-right">5</span>
        </a>
      </li>
      <li class="">
        <a [routerLink]="['../list']">
          <span class="title"><i class="pg pg-folder"></i> All mail</span>
        </a>
        <ul class="sub-menu no-padding">
          <li>
            <a [routerLink]="['../list']">
              <span class="title">Important</span>
            </a>
          </li>
          <li>
            <a [routerLink]="['../list']">
              <span class="title">Labeled</span>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a [routerLink]="['../list']">
          <span class="title"><i class="pg pg-sent"></i> Sent</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['../list']">
          <span class="title"><i class="pg pg-spam"></i> Spam</span>
          <span class="badge pull-right">10</span>
        </a>
      </li>
    </ul>
    <p class="menu-title m-t-20 all-caps">Quick view</p>
    <ul class="sub-menu no-padding">
      <li>
        <a href="javascript:void(0)">
          <span class="title">Documents</span>
        </a>
      </li>
      <li>
        <a href="javascript:void(0)">
          <span class="title">Flagged</span>
          <span class="badge pull-right">5</span>
        </a>
      </li>
      <li>
        <a href="javascript:void(0)">
          <span class="title">Images</span>
        </a>
      </li>
    </ul>
</pg-secondary-sidebar>
<!-- END SECONDARY SIDEBAR MENU -->
<div class="inner-content full-height">
    <div class="split-view">
      <!-- START SPLIT LIST VIEW -->
      <div class="split-list" [class.slideLeft]="isEmailSelected">
        <a class="list-refresh" href="javascript:void(0)"><i class="fa fa-refresh"></i></a>
	      <pg-list-view-container  class="scrollable full-height">
						<pg-list-item *ngFor="let emailGroup of emailList">
								<ng-template #ItemHeading>
										{{emailGroup.group}}
								</ng-template>
                <li class="item padding-15" *ngFor="let item of emailGroup.list" (click)="onSelect(item)"  [class.active]="item === selectedEmail">
                    <div class="thumbnail-wrapper d32 circular"><img alt="" height="40" src="{{item.dp}}" width="40"></div>
                    <div class="checkbox no-margin p-l-10" [class.d-block]="editingMode">
                      <input id="emailcheckbox-0-{{item.id}}" type="checkbox" value="1"> <label for="emailcheckbox-0-{{item.id}}"></label>
                    </div>
                    <div class="inline m-l-15">
                      <p class="recipients no-margin hint-text small">{{item.from}}</p>
                      <p class="subject no-margin">{{item.subject}}</p>
                      <p class="body no-margin" innerHTML="{{item.body}}"></p>
                    </div>
                    <div class="datetime">
                      11:23am
                    </div>
                    <div class="clearfix"></div>
                </li>
						</pg-list-item>
				</pg-list-view-container>

      </div>
      <!-- END SPLIT LIST VIEW -->
      <!-- START SPLIT DETAILS -->
      <div class="split-details">
        <ng-template #noResultBlock>
          <div class="no-result" >
            <h1>No email has been selected</h1>
          </div>
        </ng-template>
        <div *ngIf="selectedEmail; else noResultBlock" class="email-content-wrapper">
          <div class="actions-wrapper menuclipper bg-master-lightest scrollable">
            <ul class="actions menuclipper-menu no-margin p-l-20 d-flex">
              <li class="d-lg-none d-xl-none">
                <a href="javascript:void(0;)" (click)="onBack()" class="split-list-toggle"><i class="fa fa-angle-left"></i> All Inboxes</a>
              </li>
              <li class="no-padding "><a href="javascript:void(0)" class="text-info">Reply</a>
              </li>
              <li class="no-padding "><a href="javascript:void(0)">Reply all</a>
              </li>
              <li class="no-padding "><a href="javascript:void(0)">Forward</a>
              </li>
              <li class="no-padding "><a href="javascript:void(0)">Mark as read</a>
              </li>
              <li class="no-padding "><a href="javascript:void(0)" class="text-danger">Delete</a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="email-content">
            <div class="email-content-header">
              <div class="thumbnail-wrapper d48 circular bordered">
                <img width="40" height="40" alt="" src="{{selectedEmail.dp}}">
              </div>
              <div class="sender inline m-l-10">
                <p class="name no-margin bold">
                    {{selectedEmail.from}}
                </p>
                <p class="datetime no-margin">
                    {{selectedEmail.datetime}}
                </p>
              </div>
              <div class="clearfix"></div>
              <div class="subject m-t-20 m-b-20 semi-bold">
                  {{selectedEmail.subject}}
              </div>
              <div class="fromto">
                <div class="pull-left">
                  <div class="btn-group dropdown-default" dropdown>
                    <a class="btn dropdown-toggle btn-small btn-rounded" dropdownToggle>{{selectedEmail.from}} </a>
                    <div *dropdownMenu class="dropdown-menu" role="menu">
                      <a class="dropdown-item" href="javascript:void(0)">Action</a>
                      <a class="dropdown-item" href="javascript:void(0)">Friend</a>
                      <a class="dropdown-item" href="javascript:void(0)">Report</a>
                    </div>
                  </div>
                  <label class="inline">
                    <span class="muted">&nbsp;&nbsp;to</span>
                    <span class=" small-text">johnsmith@skyace.com</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="email-content-body m-t-20" innerHTML="{{selectedEmail.body}}">
            </div>
            <div class="wysiwyg5-wrapper b-a b-grey m-t-30">
              <quill-editor [style]="{height: '200px'}" placeholder="Reply" [modules]="editorModules">
              </quill-editor>
            </div>
          </div>
        </div>
      </div>
      <!-- END SPLIT DETAILS -->
      <!-- START COMPOSE BUTTON FOR TABS -->
      <div class="compose-wrapper d-md-none">
        <a class="compose-email text-info pull-right m-r-10 m-t-10" [routerLink]="['../compose']"><i class="fa fa-pencil-square-o"></i></a>
      </div>
      <!-- END COMPOSE BUTTON -->
    </div>
</div>  
<!-- END APP -->