.nk-cov{
    &-group{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: -.5rem;
        .nk-cov-data{
            padding: .5rem;
        }
    }
    &-data{
        .amount{
            font-size: 2rem;
            line-height: 1.1;
            font-weight: $fw-bold;
            color: $base-color;
            small{
                color: $base-light;
                margin-left: 0.25rem;
            }
            &-sm{
                font-size: 1.5rem;
            }
            &-xs{
                font-size: 1.25rem;
                small{
                    font-size: $fx-sz-12;
                }
            }
        }
    }
    &-wg-note{
        font-size: $fx-sz-12;
        font-weight: $fw-medium;
        color: $base-text;
    }
}

@media (max-width:359px){
    .nk-cov{
        &-data{
            .overline-title{
                font-size: 10px;
                letter-spacing: 0.1em;
            }
        }
    }
}
@include media-breakpoint-down(xs){
    .nk-cov{
        &-data{
            .amount{
                font-size: 1.75rem;
                &-sm,&-xs{
                    font-size: 1rem;
                    &.is-low{
                        font-size: 1.25rem;
                    }
                }
            }
        }
    }
}

//wg1
.nk-cov-wg1{
    .nk-cov-data{
        padding: .6875rem 0 1.125rem;
    }
    &-data{
        padding: .75rem 0;
        li{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: .1875rem 0;
            .title{
                display: flex;
                align-items: center;
                color: $base-text;

                .dot + span{
                    margin-left: 0.6875rem;
                }
            }
            .count{
                font-weight: $fw-bold;
                color: $base-color;
            }
        }
    }
}
//wg2
.nk-cov-wg2{
    .nk-cov-group{
        padding: .6875rem 0 .875rem;
    }
    &-group{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 1.25rem;
        .nk-cov-data{
            margin-right: 1rem;
            padding-top: 0.5rem;
            padding-bottom: .5rem;
            width: 100%;
            display: flex;
            justify-content: space-between;
            .amount{
                margin-bottom: 0.5rem;
            }
        }
    }
    &-data{
        border:1px solid $border-color;
        border-radius: $border-radius-xl;
        padding: .75rem 1.25rem;
        width: 100%;
        li{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: .1875rem 0;
            .title{
                display: flex;
                align-items: center;
                color: $base-text;
                font-size: $fx-sz-12;
                line-height: 1rem;
                .dot{
                    flex-shrink: 0;
                }
                .dot + span{
                    margin-left: 0.6875rem;
                }
            }
            .count{
                font-weight: $fw-bold;
                color: $base-color;
                margin-left: 1.5rem;
            }
        }
    }
}
@include media-breakpoint-up(sm){
    .nk-cov-wg2{
        &-group{
            padding-top: 2.75rem;
            .nk-cov-data{
                flex-direction: column;
                width: auto;
                .amount{
                    margin-bottom: 0;
                }
            }
        }
        &-data{
            width: auto;
        }
    }
}
@media (min-width:420px){
    .nk-cov-wg2{
        .nk-cov-group{
            .nk-cov-data:last-child{
                min-width: 100px;
            }
        }
    }
}
@media (min-width:600px) and (max-width:991px){
    .nk-cov-wg2{
        .nk-cov-group{
            justify-content: flex-start;
            .nk-cov-data{
                width: 140px;
            }
        }
        &-group{
            justify-content: flex-start;
            .nk-cov-data{
                min-width: 125px;
            }
        }
    }
}
@media (min-width:1200px) and (max-width:1340px){
    .nk-cov-wg2{
        &-group{
            padding-top: 1rem;
            .nk-cov-data{
                flex-direction: row;
                width: 100%;
                align-items: center;
                .amount{
                    margin-bottom: 0.5rem;
                }
            }
        }
        &-data{
            width: 100%;
        }
    }
}

//wg3
.nk-cov-wg3{
    &-legend{
        &-wrap{
            padding-top: 1.125rem;
            display: flex;
            justify-content: space-between;
            .title{
                font-size: $fx-sz-12;
            }
        }
        display: flex;
        align-items: center;
        margin: -.25rem -.5rem;
        li{
            padding: .25rem .5rem;
            display: flex;
            align-items: center;
            .dot + span{
                margin-left: 0.375rem;
            }
            span{
                padding-top: 2px;
                font-size:  $fx-sz-11;
                line-height: $fx-sz-14;
                color: $base-text;
            }
        }
    }
    &-ck{
        height: 120px;
    }
}
//wg4
.nk-cov-wg4{
    height: 100%;
    &-aside{
        padding: 0.5rem 0;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        &-head{
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            padding: .25rem 1.25rem;
            .search-wrap{
                padding: 0 1rem;
            }
            .search-back{
                margin-left: - 0.125rem;
            }
        }
        &-title{
            font-size: 0.875rem;
            margin-bottom: 0;
        }
        &-body{
            overflow: auto;
            flex-grow: 1;
            height: 180px;
            max-width: 100%;
        }
        &-foot{
            padding: .75rem 1.25rem;
        }
    }
    &-list{
        padding: 0 .5rem;
        &-item{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: .5rem .75rem;
            line-height: 1.25rem;
            border-radius: $border-radius;
            .title{
                font-size: 0.875rem;
                color: $base-text;
                transition: all .3s;
            }
            .count{
                font-size: 0.875rem;
                font-weight: $fw-medium;
                color: $base-color;
                transition: all .3s;
            }
            &:hover{
                .title,.count{
                    color: $accent-color;
                }
            }
            &.active{
                background:$accent-100;
                .title,.count{
                    color: $accent-color;
                    font-weight: $fw-medium;
                }
            }
        }
    }
    &-content{
        padding: .5rem .5rem 1.25rem;
    }
    &-map{
        position: relative;
        border-radius: $border-radius-xl;
        background: $lighter;
        .vector-map{
            height: 350px;
            padding: 1rem 0;
        }
        &-data{
            position: absolute;
        }
    }
    &-meta{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 1.25rem 1.25rem;
        &-data{
            display: flex;
            align-items: center;
            margin: 0 -.6875rem;
            li{
                display: flex;
                align-items: center;
                color: $base-light;
                font-size: $fx-sz-11;
                padding: 0 .6875rem;
                .dot + span{
                    margin-left: 0.5rem;
                }
            }
        }
    }
    &-ck{
        padding: 0 1rem;
        height: 150px;
    }
    .chart-label-group{
        padding: 0 1rem;
    }
}
@media (max-width:420px){
    .nk-cov-wg4{
        &-map{
            .vector-map{
                height: 220px;
            }
        }
    }
}
@include media-breakpoint-up(sm){
    .nk-cov-wg4{
        &-aside{
            padding: 0.75rem .25rem;
        }
    }
}
@include media-breakpoint-up(md){
    .nk-cov-wg4{
        position: relative;
        &-aside{
            position: absolute;
            width: 240px;
            padding: 0.75rem .25rem;
            border-right:1px solid $border-color;
            height: 100%;
            overflow: hidden;
            &-body{
                flex-grow: 1;
            }
        }
        &-content{
            margin-left: 241px;
        }
    }
}
@include media-breakpoint-only(lg){
    .nk-cov-wg4{
        &-aside{
            width: 280px;
        }
        &-content{
            margin-left: 281px;
        }
    }
}
@include media-breakpoint-up(xxl){
    .nk-cov-wg4{
        &-aside{
            width: 300px;
        }
        &-content{
            margin-left: 301px;
        }
    }
}
//wg5
@media (max-width:359px){
    .nk-cov-wg5-table{
        font-size: 11px;
        .nk-tb-head{
            .nk-tb-col{
                font-size: 11px;
            }
        }
        .tb-country{
            .flag{
                height: 12px;
                border-radius: 1px;
                + .name{
                    margin-left: 0.375em;
                }
            }
        }
        .nk-tb-col{
            padding-left: 0.125rem;
            padding-right: 0.125rem;
            &:first-child{
                padding-left: 1.25rem;
            }
            &:last-child{
                padding-right: 1.25rem;
            }
        }
    }
}
//wg6
.nk-cov-wg6{
    &-legend{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: .5rem -.5rem .25rem;
        li{
            padding: .25rem .5rem;
            display: flex;
            align-items: center;
            .dot + span{
                margin-left: 0.375rem;
            }
            span{
                padding-top: 2px;
                font-size:  $fx-sz-11;
                line-height: $fx-sz-14;
                color: $base-text;
            }
        }
    }
    &-ck{
        height: 150px;
        &-lg{
            height: 170px;
        }
    }
}

@include media-breakpoint-up(xxl){
    .nk-cov-wg6{
        &-ck{
            height: 195px;
            &-lg{
                height:215px;
            }
        }
    }
}
//wg7
.nk-cov-wg7{
    &-data{
        display: flex;
        align-items: center;
        &-title{
            width: 85px;
            flex-shrink: 0;
        }
        &-progress{
            width: 100%;
            flex-grow: 1;
            .progress-amount{
                position: relative;
                top: 1px;
            }
        }
        &-count{
            width: 65px;
            flex-shrink: 0;
        }
    }
}

//wg8
.nk-cov-wg8{
    &-map{
        flex-grow: 1;
        .vector-map{
            height: 170px;
        }
        &-ind{
            width:100%;
            display: flex;
            flex-wrap: wrap;
            &-item{
                padding: .375rem .5rem;
                width: 50%;
            }
            .line{
                height: 8px;
                width: 100%;
            }
            .count{
                font-size: $fx-sz-12;
                margin-top: 0.25rem;
            }
        }
    }
    &-table{
        &-wrap{
            height: 476px;
            overflow: hidden;
            .nk-cov-table-pro {
                &[data-simplebar] {
                    height: calc(100% - 36px);
                }
                .cov-datatable thead {
                    display: none;
                }
            }
        }
    }
}

@include media-breakpoint-up(sm){
    .nk-cov-wg8{
        &-group{
            display: flex;
            align-items: center;
        }
        &-map{
            .vector-map{
                height: 280px;
            }
            &-ind{
                margin: -.375rem -.5rem;
                width:120px;
                &-item{
                    width: 100%;
                }
            }
        }
    }
}
@include media-breakpoint-up(md){
    .nk-cov-wg8{
        &-group{
            align-items: flex-start;
        }
        &-map{
            .vector-map{
                height: 300px;
            }
        }
        &-table{
            &-wrap{
                height: 586px;
            }
        }
    }
}
@include media-breakpoint-up(lg){
    .nk-cov-wg8{
        &-map{
            .vector-map{
                height: 360px;
            }
        }
    }
}
@include media-breakpoint-up(xl){
    // .nk-cov-wg8{
    //     position: absolute;
    //     width: calc(100% - 28px);
    //     height: calc(100% - 28px);
    //     overflow: hidden;
    //     display: flex;
    //     flex-direction: column;
    //     align-items: stretch;
    // }
}
@include media-breakpoint-up(xxl){
    .nk-cov-wg8{
        &-map{
            .vector-map{
                height:450px;
            }
        }
    }
}

//feature
.nk-cov{
    &-feature{
        &:not(:last-child){
            margin-bottom: 1.75rem;
        }
        .image{
            flex-shrink: 0;
            width: 80px;
            margin-bottom: 1rem;
            img{
                border-radius: 50%;
            }
        }
    }
}
@include media-breakpoint-up(sm){
    .nk-cov{
        &-feature{
            display: flex;
            align-items: center;
            &:not(:last-child){
                margin-bottom: 2.25rem;
            }
            .image{
                width: 120px;
                margin-right: 1.5rem;
                margin-bottom: 0;
            }
        }
    }
}
@include media-breakpoint-up(sm){
    .nk-cov{
        &-feature{
            .image{
                &-lg{
                    width: 150px;
                }
            }
        }
    }
}

.nk-cov-modal-ck{
    height: 210px;
}

// News
.nk-cov-newswg{
    &-item{
        display: flex;
        justify-content: space-between;
        &:not(:last-child){
            margin-bottom: 1.75rem;
        }
    }
    &-meta{
        display: flex;
        margin: 0 -.5rem;
        li{
            font-size: $fx-sz-12;
            color: $base-light;
            position: relative;
            padding: 0 .5rem;
            &:not(:last-child):after{
                position: absolute;
                right: -2px;
                content: '-';
            }
            a{
                color: $base-light;
                &:hover{
                    color: $accent-color;
                }
            }
        }
    }
    &-content{
        padding-right: 1.5rem;
        .title{
            font-size: 0.875rem;
            line-height: 1.25rem;
        }
    }
    &-image{
        flex-shrink: 0;
        width: 120px;
    }
}

@include media-breakpoint-down(xl){
    .nk-cov-newswg{
        &-item{
            align-items: center;
        }
    }
}

@media (max-width:420px){
    .nk-cov-newswg{
        text-align: center;
        &-item{
            flex-direction: column;
        }
        &-image{
            padding-bottom: .75rem;
            order: -1;
        }
        &-meta{
            justify-content: center;
        }
    }
    .is-center-mb{
        text-align: center;
    }
    
}