//
// Footer
//

.footer {
  border-top: 1px solid $gray-300;
  background-color: $bg-body;
  bottom: 2px;
  padding: 18px 80px 18px;
  position: absolute;
  right: 0;
  left: 0;
  color: $gray-600;
}