  <!-- START JUMBOTRON -->
  <div class="jumbotron">
      <pg-container extraHorizontalClass="p-l-0 p-r-0" extraClass="sm-p-l-0 sm-p-r-0">
        <div class="inner" pg-parallax>
          <!-- START BREADCRUMB -->
           <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Pages</a></li>
            <li class="breadcrumb-item active">Boxed template</li>
          </ol>
          <!-- END BREADCRUMB --> 
        </div>
      </pg-container>
    </div>
    <!-- END JUMBOTRON -->
    <!-- START CONTAINER FLUID -->
    <pg-container>
      <!-- BEGIN PlACE PAGE CONTENT HERE -->
      <!-- END PLACE PAGE CONTENT HERE -->
    </pg-container>
    <!-- END CONTAINER FLUID -->